/*
* Dodatkowy zestaw CSS dla aplikacji webowej ISOMANA
* Autor: Michał Toporowski
*/

#menu, #menu > ul {
    text-align: center;
    vertical-align: middle;
}

/*poprawa kolorów w menu*/
#menu li ul a {
    color: black;
}

/*tabelka na całą szerokość*/
.ctab {
    width: 100%;
}

/*wywalenie krzyżyków z dialogów*/
.ui-dialog-titlebar-close {
    display: none;
}

