body {
    font-family: Helvetica;
    background-color: #ddeeff;
    text-align: center;
}

#content {
    text-align: justify;
}

table.prheader {
    width: 900px;
}

p.prsort {
    text-align: right;
}

table.prinfo {
    border: 1px solid #000000;
    width: 900px;
    margin: 5px auto;
}

table.info {
    width: 900px;
    margin: 5px auto;
}

p.infoname {
    text-align: center;
    font-size: 14pt;
}

td.primg {
    width: 200px;
    max-width: 200px;
    height: 200px;
    text-align: center;
}

td.primg > img, td.primg > a > img {
    max-width: 200px;
    max-height: 200px;
}

td.prdescbox {
    vertical-align: top;
}

div.prdesc {
    font-family: Arial;
    font-size: 10pt;
}

p.prdesc > li {
    font-size: inherit;
    font-family: Arial;
}

a.prpagelink {
    font-size: 10pt;
    text-decoration: inherit;
    text-align: right;
    display: block;
}

h1, h2 {
    font-size: 16pt;
}

h2 {
    text-align: center;
}

div.commdiv {
    background-color: #e2d897;
    font-family: Arial;
    font-size: 11pt;
}

p.commusr {
    font-style: italic;
}

table.mainpage td {
    vertical-align: top;
}

table.mainpage img {
    max-width: 200px;
}


